CMakeCache.txt
CMakeFiles/*
Makefile
builds/cmake/chip8
builds/cmake/cmake_install.cmake
builds/cmake/CMakeFiles/
cmake_install.cmake/chip8
builds/vs/Debug/
builds/vs/Release/
builds/vs/x64/
builds/vs/.vs/